{% extends "header.html" %}

{% block content %}

<br>
    <div class="col-lg-6 offset-3 p-4 shadow">
    <div class="d-flex flex-column justify-content-center">
        <h2 class="text-primary text-center">Add Issue</h2><br>  
      {% for message in messages %}

      <div class="alert alert-{{ message.tags }} alert-dismissible fade show " role="alert">
        <strong>Message :</strong> {{ message }}
        <button type="button" class="close btn " data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}

        <form action="{% url 'addIssue' %}" class="form-group" method="POST" enctype="multipart/form-data">{% csrf_token %}
            {% csrf_token %}
            <label class="ml-2">Issue Title :</label>
            <input type="text" name="issueTitle" class="form-control mb-2" placeholder="Your Issue title">
            <label class="ml-2">Location :</label>
            <input type="text" name="location" class="form-control mb-2" placeholder="Location">
            <label class="ml-2 p-2">Upload an Image:</label>
            <input type="file" name="IssueImage" ><br>
            <input type="submit" class="btn btn-outline-primary mt-2">
        </form>
    </div>
  </div>

{% endblock content %}