{% extends "header.html" %}

{% block content %}
<br>
    <div class="col-lg-6 offset-3 p-4 shadow">
    <div class="d-flex flex-column justify-content-center">
        <h2 class="text-primary text-center">My Issues</h2><br>  
      {% for message in messages %}

      <div class="alert alert-{{ message.tags }} alert-dismissible fade show " role="alert">
        <strong>Message :</strong> {{ message }}
        <button type="button" class="close btn " data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}

      
{% for issue in my_issues %} 
<div class="col-lg-3">
<div class="card shadow mt-4" style="width: 18rem;">
    <img class="card-img-top" src="../media/{{ issue.issue_img }}/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{issue.issue_title}}</h5>
      <p class="card-text">Location : {{  issue.location }}</p>
      <p class="card-text">Posted By : {{  issue.author.email }}</p>
      <p class="card-text">Posted On : {{  issue.pub_date }}</p>
      <p class="card-text">Upvotes : {{  issue.upvotes }}</p>
      <div style="display: inline-block;">
        <a href="../updateIssue/{{ issue.issue_id }}" class="btn btn-success">Update</a>
        <a href="../deleteIssue/{{ issue.issue_id }}" class="btn btn-danger">Delete</a>
    </div>
    </div>
  </div>
  </div>
{% endfor %}



  </div>
  </div>

{% endblock content %}